[Unit]
Description=pgAdmin4 Web Application
After=network.target

[Service]
Type=simple
User=pgadmin
Group=pgadmin
WorkingDirectory=/usr/pgadmin4/web
ExecStart=/usr/pgadmin4/venv/bin/python /usr/pgadmin4/web/pgAdmin4.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target